#section1{
  padding: 25px;
  color: white;
  background-image: linear-gradient(to right, #1e5b92 , #23965d);
  text-align: center;
}

.container{
  padding: 15px;
}

#section3{
  margin: 15px 0;
}

#searchBox{
  display: inline-block;
  width: 97.5%;
}

#searchBox input{
  width: 99%;
  padding: 5px;
}

#searchButtonBox{
  display: inline-block;
  width: 2.5%;
  text-align: right;
}

#searchButtonBox button {
  background-color: #23965d;
  color: white;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  
}

.fa-search{
  font-size: 22px;
}

.fa-star{
  color: lightgray;
  margin-right: 5px;
}

.fa-star:hover{
  cursor: pointer;
}

#favouritesSection{
  background-color: #f7fdf9;
}

